.pageContainer{
    min-height: 1100px;
}

.menuBarStyle {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: rgba(20, 21, 20, 0.9);
}

.menuItemStyle{
	font-size: .9rem;
	font-family: Raleway;
	color: rgba(255,255,255,.7);
	padding-left: 8px;
	padding-right: 8px;	
	font-weight: 800
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
	border: 2px solid white;
}

.bookLinkStyle{
	color: blue;
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
	text-decoration: underline;
	
}

.cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: url('/images/header-image16.jpg'); 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size:unset
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

a:not([href]):not([tabindex]){
  color: white;
}

.list-hours {
    background: #ebebeb;
    display: block;
    float: left;
    position: relative;
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-transition: all .2s cubic-bezier(.4,0,.2,1);
    -webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
    transition: all .2s cubic-bezier(.4,0,.2,1);
}

.box {
    width: 30%;
    padding-bottom: 20%;
    position: relative;
    float: left;
    border: 5px solid white;
}

.tile {
    /*font-size: 14px;
    font-family: "Segoe UI";
    line-height: 18px;
    padding: 12px;
    bottom: 0%;
    left: 0%;
    -webkit-transform: translate(0%,0%);
    -ms-transform: translate(0%,0%);
    transform: translate(0%,0%);
    width: 100%;*/
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    padding: 12px;
    font-size: 14px;
    font-family: "Segoe UI";
    line-height: 18px;
    -webkit-transform: translate(0%,0%);
    -ms-transform: translate(0%,0%);
    transform: translate(0%,0%);
    font-weight: bold;
}

.tilesContainer{
    overflow:hidden;
}

.tileInnerText {
    text-align: center;
    vertical-align: middle;
    padding-top: 20%;
}

.quote{
    color: cornflowerblue;
    cursor: pointer;
}